img {
    max-height: 15px;
    max-width: 15px;
    padding-left: 10px;
}

img:hover {
    max-height: 20px;
    max-width: 20px;
    padding-left: 5px;
    transition: 0.4ms;
    cursor: pointer;
}

:host .search-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    font-size: 12px;
}

:host md-card {
    width: 12vw;
    max-height: 50vw;
    overflow: hidden;
}