
  <md-card-title>Search history</md-card-title>
  <md-card-content>
    <button (click)="removePornSearch()">Clear my entire history</button>
    <div class="search-list" *ngFor="let item of history">
        <div (click)="search( item.$value, item.$key )"> {{ item.$value }} </div>
        <img src="../../assets/cancel-circle.svg" alt="Remove" (click)="delete(item.$key)">
    </div>

  </md-card-content>

