:host .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

:host md-card {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 40vw;
  padding: 20px;
}

:host button {
  width: 350px;
  margin: 10px 0;
}

:host button img {
  vertical-align: middle;
  margin: 10px;
}