<div class="container">
  <md-card>
    <h2>Login</h2>
    <button  md-raised-button (click)="login('google')">
      <img width="30" src="../assets/google-logo.png" />Login with Google
    </button>

    <button md-raised-button (click)="login('github')">
      <img width="30" src="../assets/github-logo.png" />Use with GitHub 
    </button>
  </md-card>
</div>