
/*The toolbar on the dashbo ard*/
.sort-filter-toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    font-size: 12px;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 1.2em;
    color: #999;
    margin: auto;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
nav a {
    padding: 7px 12px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    border-radius: 6px;
}
/*Added icon ontop the dashboard-link in the navigational pane*/
nav .homeICO{
  background: url("../icons/homeICO.png") no-repeat left;
  background-size: contain;
  padding: 2px 0 0 25px;
  margin-right: 0.5em;
}
/*Added icon ontop the movies-link in the navigational pane*/
nav .moviesICO{
  background: url("../icons/moviesICO.png") no-repeat left;
  background-size: contain;
  margin-right: 0.5em;
  padding: 2px 0 0 25px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}

.md-child{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 20%;
}

app-account-history{
  width: 10vw;
  position: absolute;
}
