<nav>
  <a class="homeICO" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a class="moviesICO" routerLink="/fancy" routerLinkActive="active">Fancy</a>
</nav>
<md-card>
  <div class="md-child">
    <input type="text" id="searchField" class="clearDefault" (keydown.enter)="search($event.target.value)"
         value="Search for your favourite movie or user"
         onblur="if (this.value == '') {this.value = 'Search for your favourite movie or user';}"
         onfocus="if (this.value == 'Search for your favourite movie or user') {this.value = '';}">
    <div class="sort-filter-toolbar">
      <input type="radio" value="rating" [(ngModel)]="ss.inputControls.sorting" (ngModelChange)="ss.testCheckboxes()" required checked>Sort by rating<br>
      <input type="radio" value="alfa" [(ngModel)]="ss.inputControls.sorting" (ngModelChange)="ss.testCheckboxes()" required>Sort alphabetically<br>
      <input type="checkbox" [(ngModel)]="ss.inputControls.action" (ngModelChange)="ss.testCheckboxes()"> Action<br>
      <input type="checkbox" [(ngModel)]="ss.inputControls.comedy" (ngModelChange)="ss.testCheckboxes()">Comedy<br>
      <input type="checkbox" [(ngModel)]="ss.inputControls.horror" (ngModelChange)="ss.testCheckboxes()">Horror<br>
      <input type="checkbox" [(ngModel)]="ss.inputControls.eighties" (ngModelChange)="ss.testCheckboxes()">1980 or newer<br>
      <input type="checkbox" [(ngModel)]="ss.inputControls.twoThousand" (ngModelChange)="ss.testCheckboxes()">2000 or newer<br>
      <input type="checkbox" [(ngModel)]="ss.inputControls.twoThousandTen" (ngModelChange)="ss.testCheckboxes()">2010 or newer<br>
    </div>
  </div>
</md-card>
<app-account-history (searched)="search($event)"></app-account-history>
<router-outlet></router-outlet>
