<div class="header">
    <a routerLink="/dashboard" routerLinkActive="active">
      <h1 id="title">{{title}}</h1>
    </a>
    <div class="profile-container" *ngIf="user">
    <div>{{user.name}}</div>
        <img id="avatarImg" md-card-image src="{{user.avatar}}">
        <button *ngIf="af.auth | async" md-raised-button (click)="logout()">
        Logout
        </button>
    </div>

</div>

<router-outlet></router-outlet>

<footer>This webapp was brought to you by group nr. 13. Our members are: Andreas, Sondre, Eirik, Mathias and Christian</footer>
