h1 {
    font-size: 1.2em;
    color: #999;
    margin: auto;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}
nav a {
    padding: 7px 12px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    border-radius: 6px;
}
/*Added icon ontop the dashboard-link in the navigational pane*/
nav .homeICO{
  background: url("../icons/homeICO.png") no-repeat left;
  background-size: contain;
  padding: 2px 0 0 25px;
  margin-right: 0.5em;
}
/*Added icon ontop the movies-link in the navigational pane*/
nav .moviesICO{
  background: url("../icons/moviesICO.png") no-repeat left;
  background-size: contain;
  margin-right: 0.5em;
  padding: 2px 0 0 25px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}


:host * {
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host .profile-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  margin-left: auto;
}

:host .profile-container > div, .profile-container > button, .profile-container > img{
  margin: 5px;
}

:host img {
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
