<div class="grid grid-pad" *ngIf="movieList">
  <div *ngFor="let movie of movieList" class="col-1-4" [@animate]="movie.animationState" (click)="toggleState(movie)">
    <div class="movie_cover">
      <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}}">
    </div>
    <div class="movie_info">
      <h2 [@text]="movie.animationState">{{movie.title}} storyline</h2>
      <h4 [@text]="movie.animationState">{{movie.overview}}</h4>
      <h2 [@text]="movie.animationState">Score</h2>
      <h4 [@text]="movie.animationState">{{movie.vote_average}} based on {{movie.vote_count}} votes</h4>
      <h2 [@text]="movie.animationState">Release date</h2>
      <h4 [@text]="movie.animationState">{{movie.release_date}}</h4>
      <img [@text]="movie.animationState" src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}">
    </div>
  </div>
</div>
