h3{
  text-align: center;
  font-weight: bold;
}
/*The toolbar on the dashboard*/
.sort-filter-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
}

.grid-pad{
  display: flex;
  margin: 30px;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  position:relative;
}

[class*='col-']{
  margin:auto;
  margin-bottom: 5%;
  flex-direction: row;
  width: 500px;
  height: 700px;
  background-color: #aaa;
}


.movie_info{
  position:absolute;
  max-width: 100%;
  width: 500px;
  height: 750px;
}

.movie_cover {
  position: absolute;
}
