

<!--<div class="grid grid-pad">
    <div *ngFor="let movie of movies" (click)="gotoDetail(movie)" class="col-1-4">
-->
<div class="top-container">

  <div class="contentBox">
      <!-- todo Fix qury to service -->
      <h3 *ngIf="ss.query == null"> Most popular</h3>
      <h3 *ngIf="ss.query != null"> Showing results for: {{ss.query}}</h3>
        <div class="movieBox" *ngIf="movieList">
          <div *ngFor="let movie of movieList" class="movieLogo" (click)="onSelect(movie)">
          <img src="https://image.tmdb.org/t/p/w150{{movie.poster_path}}" alt="{{movie.title}}">
          </div>
    </div>
    <div class="test">
        <div class="selectedMovie" *ngIf="ss.selectedMovie">
            <h3>
                {{ss.selectedMovie.name}} {{ss.selectedMovie.title}}
            </h3>
            <div id="selectedMovieDisplay">
                <p>Rating:
                    {{ss.selectedMovie.vote_average}}</p>
                <h4>Description:</h4>
                {{ss.selectedMovie.overview}}
            </div>
        </div>
    </div>
  </div>
</div>
