h3{
  text-align: center;
  font-weight: bold;
}


/*The main-content box on the dashbaord*/
.contentBox{
  display: flex;
  flex-direction: column;
  margin: 0px 0px auto 0;
  width: 60vw;
  padding-top: 10px;

}
/*The logo for each movie-element*/
.movieLogo{
  max-width: 800px;
  flex-basis: 20%;
}
/*The movie-box that contains the list of movies*/
.movieBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
.test{
    flex: 0 0 300px;
    margin-left: 100%;
}
/*Movie selected, lets a box appear on the right*/
.selectedMovie{
  position: fixed;
  bottom: 3.7vh;
  min-width: 150px;
  max-width: 200px;
  min-height: 40vh;
  max-height: 70vh;
  overflow: hidden;
  background-color: #eee;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.content-wrapper{
    display: flex;
    align-content: center;
}

app-account-history {
    padding: 5vw;
}
