/* Master Styles */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
/*Styling for the header-banner*/
.header{
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgba(81, 214, 255, 0.1);
  /*background-color: #c1d9ff;*/
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items: center;
}
#title{
  margin-left: 20%;
}
#avatarImg{
  height: 50px;
}

a{
  text-decoration: none;
  border-radius: 4px;
}
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
/*The top-container is the one beneath the header and navigation-pane.*/
.top-container{
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  flex-flow: column;
}
/*Styling for the searchbar*/
#searchField{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  opacity: 0.2;
  text-align: center;
}


body {
    padding: 0;
    margin: 0;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
/*Styling the navigation-pane*/
nav{
  display: flex;
  justify-content: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
/*The HTML5-footer*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
  height: 100px;
}
